@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-spin {
    -moz-appearance: textfield; /* Firefox uchun */
    -webkit-appearance: none; /* Chrome, Safari, Edge uchun */
    margin: 0;
  }
}
